---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span class="uppercase text-secondary bg-primary px-2 py-1 mb-9 font-medium">
    Presentacion de la
  </span>
  <HeroLogo class="text-primary" />
</section>
